body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

header,
main,
footer {
    max-width: 95%;
    margin: 1em auto;
    display: flex;
    flex-direction: column; 
    border: 1px solid gold;
}

h2 {
    text-transform: capitalize;
}

h2 i {
    font-weight: lighter;
    font-size: .8em;
}

h2.subtitle {
    color: white;
    background-color: black;
    font-size: 1em;
    text-transform: uppercase;
    padding: .3em;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
}

article {
    margin-bottom: 1em;
    padding: 1em;
}

.cv-education section {
    margin-bottom: 2em;
}


.cv-title h1 {
    font-size: 2em;
    text-transform: uppercase;
}

.cv-title h1,
.cv-title h2,
.cv-address p {
    text-align: center;
    width: 90%;
    margin: 1em auto;
}

.cv-address p {
    font-size: 1.2em;
    text-transform: capitalize;
}

.cv-address .cv-email {
    text-transform: lowercase;
}

.cv-date {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: .8em;   
}

section p {
    line-height: 1.5;
    max-width: 70%;
}

p.cv-grade {
    line-height: 0;   
}

p.cv-languages {
    text-transform: capitalize;
}



.cv-referees {
    padding: 1em;
}


@media (min-width: 1000px) {
    main {
        width: 85%;
        display: grid;
        grid-template-areas: 
        "main1 . sidebar"
        "main2 . .";
        column-gap: 20px;                  
    }
    
    .cv-experience {
        grid-area: main1;
    }
    
    .cv-education {
        grid-area: main2;
    }

    .sidebar {
        grid-area: sidebar
    }

    section p {
        min-width: 80%;
    }
    header, footer {
        width: 85%;
        margin: 1em auto;   
    }
}